
  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  body {
    font: 20px sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    text-align: justify;
    background-color: #e4e4e4;
    color: #555555;
  }
  p {
    font-size: 16px;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }

  #post {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .margin0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .content {
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    border-radius: 4px;
  }

  .title {
    font-weight: bold;
    color: #42b983;
  }

  .action-btns {
    text-align: right;
  }

  input, textarea {
    border: 1px solid gray;
    border-radius: 3px;
    padding-left: 5px;
  }
  
  .in {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 1vw;
    width: 100%;
  }
  
  .comment {
    width: 100%;
  }

  .left-content {
    float: left;
    width: 20%;
  }

  .right-content {
    float: left;
    width: 80%;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
